body {
  margin: 0;
  font-family: 'New Courier', Courier, monospace;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

html {
  height: 100%;
  background-color: #04286E;
}

button {
  cursor: pointer;
}